<table>
    <tbody>
    <tr>
        <td colspan="7">
            <strong>Rekapitulasi Piutang dan Pembayaran</strong>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <strong>Semua waktu</strong>
        </td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <th>No.</th>
        <th>Tanggal</th>
        <th>Nama Pelanggan</th>
        <th>Uraian</th>
        <th>Tagihan</th>
        <th>Pembayaran</th>
    </tr>
            <tr>
            <td>1</td>
            <td>
                11 Oct 2020
            </td>
            <td>
                Concrete Karya Utama, PT (CKU)
            </td>
            <td>Invoice Jasa Management; PT.CMN; Jan&#039;19;</td>
            <td>12500000</span></td>
            <td>0</span></td>
        </tr>
            <tr>
            <td>2</td>
            <td>
                11 Oct 2020
            </td>
            <td>
                Concrete Karya Utama, PT (CKU)
            </td>
            <td>Jasa Management; PT. CMN; Jan&#039;19;</td>
            <td>0</span></td>
            <td>12500000</span></td>
        </tr>
            <tr>
            <td>3</td>
            <td>
                09 Sep 2020
            </td>
            <td>
                Concrete Karya Utama, PT (CKU)
            </td>
            <td>Invoice Jasa Management; PT.CMN; Jan&#039;19;</td>
            <td>1200000</span></td>
            <td>0</span></td>
        </tr>
            <tr>
            <td>4</td>
            <td>
                18 Sep 2019
            </td>
            <td>
                Concrete Karya Utama, PT (CKU)
            </td>
            <td>Invoice Jasa Management; PT.CMN; Jan&#039;19;</td>
            <td>500000</span></td>
            <td>0</span></td>
        </tr>
        <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Total</th>
        <th>Rp <span class="mask-money">14200000</span></th>
        <th>Rp <span class="mask-money">12500000</th>
    </tr>
    </tbody>
</table>
