<table>
    <tbody>
        <tr>
            <td colspan="5">
                <strong>Rekapitulasi Piutang dan Pembayaran</strong>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <strong>Semua waktu</strong>
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td>No.</td>
            <td>Nama</td>
            <td>Tipe</td>
            <td>Sisa Tagihan Sebelumnya</td>
            <td>Tagihan</td>
            <td>Pembayaran</td>
            <td>Tagihan Total</td>
        </tr>
                    <tr>
                <td>
                    1
                </td>
                <td>
                    Concrete Karya Utama, PT (CKU)</small>
                </td>
                <td>Jasa Manajemen</td>
                <td>0</td>
                <td>14200000</td>
                <td>12500000</td>
                <td>1700000</td>
            </tr>
            </tbody>
</table>
