<table>
    <tbody>
        <tr>
            <th colspan="5">
                <strong>Rekapitulasi Piutang dan Pembayaran</strong>
            </th>
        </tr>
        <tr>
            <th colspan="5">
                <strong>Semua waktu</strong>
            </th>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <th>No.</th>
            <th>Nama</th>
            <th>Tipe</th>
            <th>Sisa Tagihan Sebelumnya</th>
            <th>Tagihan</th>
            <th>Pembayaran</th>
            <th>Tagihan Total</th>
        </tr>
                    <tr>
                <td>
                    1
                </td>
                <td>
                    Concrete Karya Utama, PT (CKU)</small>
                </td>
                <td>Jasa Manajemen</td>
                <td>0</td>
                <td>14200000</td>
                <td>12500000</td>
                <td>1700000</td>
            </tr>
            </tbody>
</table>
